.research__photo-main {
  width: 100%;
  max-width: 330px;
  border-radius: 5px;
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .research__photo-main {
    min-width: 330px;
    margin-left: 30px;
    border-radius: 10px;
    object-fit: cover;
  }
}

@media screen and (min-width: 1440px) {
  .research__photo-main {
    max-width: 264px;
    height: 276px;
    margin-left: 12px;
  }
}
