.research__molecule {
  display: none;
}

@media screen and (min-width: 1440px) {
  .research__molecule {
    display: block;
    width: 24px;
    height: 22.56px;
    position: absolute;
    left: -36px;
    top: 160px;
  }
}
