.projects__gallery_opened {
  max-height: none;
}

.projects__gallery_opened ~ .projects__btn-gallery {
  transform: rotate(180deg);
}

.projects__gallery_opened ~ .projects__btn-gallery:hover {
  transform: rotate(180deg) scale(1.1);
}
