.publications__name {
  margin: 40px auto 20px;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #000D26;
  text-align: center;
}

@media (min-width: 768px) {
  .publications__name {
    margin: 60px auto 40px;
    font-size: 24px;
    line-height: 33px;
  }
}

@media (min-width: 1440px) {
  .publications__name {
    margin: 80px auto 30px;
    font-size: 36px;
    line-height: 68px;
  }
}
