.card-meta {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #009FAC;
  width: 288px;
  height: 44px;
  margin: 0;
  bottom: 0;
  border-radius: 0px 0px 6px 6px;
}

@media (max-width: 1439px) {
  .card-meta {
    z-index: 2;
  }
}

@media (min-width: 768px) {
  .card-meta {
    width: 330px;
  }
}

@media (min-width: 1440px) {
  .card-meta {
    width: 348px;
    height: 67px;
  }
}

