.sorting__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 6px;
  border-bottom: 2px solid var(--emerald);
}

@media (min-width: 768px) {
  .sorting__header {
    display: none;
  }
}
