.research__photos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1440px) {
  .research__photos {
    flex-direction: row-reverse;
    align-items: flex-start;
  }
}
