.tooltip__box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: var(--white);
  gap: 11px;
  width: 184px;
  height: 56px;
  border-radius: 8px;

}

.tooltip__box::after {
  content: '';
  position: absolute;
  right: 15px;
  top: 56px;
  border: 7px solid transparent;
  border-top: 12px solid var(--white);
}


