.publications-card__desc {
  font-size: 12px;
  line-height: 16px;
  color: #000D26;
  margin: 0 16px 16px;
  font-weight: 400;
  z-index: 2;
  background-color: white;
  min-height: 188px;
}

@media (min-width: 768px) {
  .publications-card__desc {
    font-size: 14px;
    line-height: 19px;
    margin: 0 20px 10px;
  }
}
@media (min-width: 1440px) {
  .publications-card__desc {
    font-size: 14px;
    line-height: 19px;
    min-height: 162px;
  }
}
