/* TODO! не прорастают стили, если разнести по разным файлам */

/* .project__logo_type_gasprom {
  width: 60px;
  height: 26px;
  -webkit-mask-image: url(../../../images/partners/gazprom.svg);
  mask-image: url(../../../images/partners/gazprom.svg);
}

@media (min-width: 768px) {
  .project__logo_type_gasprom {
    width: 112px;
    height: 48px;
  }
} */
