.research__popup-image {
  width: 268px;
  height: 160px;
  background-image: url(../../../images/lab/image\ 43.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

@media screen and (min-width: 768px) {
  .research__popup-image {
    width: 199px;
    height: 414px;
    position: absolute;
    margin-left: 20px;
  }
}

@media screen and (min-width: 1440px) {
  .research__popup-image {
    width: 400px;
    height: 678px;
  }
}
