.footer__container {
  max-width: 1110px;
  width: calc(100% - 32px);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 8px;
}

@media (min-width: 768px) {
  .footer__container {
    width: calc(100% - 78px);
    grid-template-columns: repeat(4, auto);
    column-gap: 30px;
    justify-content: space-between;
  }
}

@media (min-width: 1440px) {
  .footer__container {
    width: calc(100% - 330px);
  }
}
