.education__button-label {
  width: 100%;
  text-align: center;
  padding: 12px 0 12px;
  box-sizing: border-box;
  border-radius: 3px;
  cursor: pointer;
  transition: .1s linear;
  color: var(--white);
}

.education__button-label:hover {
  color: var(--light-blue);
}

@media (min-width: 768px) {
  .education__button-label {
    border-radius: 8px;
  }
}
