.publications-container {
  overflow: hidden;
  margin: 0 auto 0;
  width: calc(100% - 40px);
  padding: 20px;
}

@media (min-width: 768px) {
  .publications-container {
    width: 605px;
  }
}

@media (min-width: 768px) {
  .publications-container {
    width: 695px;
  }
}

@media (min-width: 1270px) {
  .publications-container {
    width: 1050px;
  }
}

@media (min-width: 1440px) {
  .publications-container {
    width: 1110px;
  }
}
