.nav__label {
  text-decoration: none;
  cursor: pointer;
  color: var(--white);
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 0 10px 16px;
}


@media (min-width: 600px) {
  .nav__label {
    padding-left: 40px;
  }
}

@media (min-width: 1000px) {
  .nav__label {
    padding: 7px 0;
  }
}
