.about__nav-button {
  width: 60px;
  height: 60px;
  transform: translateY(-20px);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color .3s linear;
}

/* Посмотреть: лучше с или без такого эффекта */

/* .about__nav-button:hover {
  background-color: var(--emerald);
  box-shadow: 0px 4px 20px rgba(1, 54, 157, 0.15);
  border: 1px solid var(--white);
} */
