.research__popup-wrapper-text {
  margin: 0;
  width: auto;
  min-width: 250px;
  overflow: auto;
  max-height: 300px;
}

@media screen and (min-width: 768px) {
  .research__popup-wrapper-text {
    min-width: 431px;
    margin: 0 0 0 20px;
    max-height: 370px;
  }
}

@media screen and (min-width: 1440px) {
  .research__popup-wrapper-text {
    min-width: 650px;
    max-height: 620px;
  }
}
