.partners__title {
  padding-top: 100px;
  padding-bottom: 30px;
  margin: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 68px;
  text-align: center;
  letter-spacing: 0.1px;
  text-transform: uppercase;
}
