.feedback__fieldset {
  width: 100%;
  border: none;
  padding: 0;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 3.5fr;
  row-gap: 12px;
}

@media (min-width: 600px) {
  .feedback__fieldset {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 16px;
  }
}

@media (min-width: 768px) {
  .feedback__fieldset {
    column-gap: 29px;
    row-gap: 20px;
  }
}
