.research__popup-wrapper {
  width: 268px;
  height: 24px;
  margin: 16px 0 10px 0;
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .research__popup-wrapper {
    width: 431px;
    height: 33px;
    position: absolute;
    right: 20px;
    top: 20px;
    margin: 0 0 20px 0;
  }
}

@media screen and (min-width: 1440px) {
  .research__popup-wrapper {
    width: 650px;
    right: 20px;
    top: 20px;
  }
}
