.publications-card__links {
  font-size: 12px;
  line-height: 18px;
  color: #009FAC;
  margin: 0 16px 10px;
  font-weight: 400;
  font-style: italic;
}

@media (min-width: 768px) {
  .publications-card__links {
    font-size: 14px;
    line-height: 19px;
    margin: 0 20px 12px;
  }
}
