.tooltip {
  display: none;
  position: absolute;
  right: 5px;
  bottom: 51px;
  z-index: 4;
  border-radius: 8px;
  filter: drop-shadow(3px 3px 2px rgba(73, 111, 168, 0.45));
}

@media (min-width: 1440px) {
  .tooltip {
    bottom: 77px;
  }
}
