.research__popup-container {
  display: grid;
  list-style: none;
  grid-template-columns: repeat(1, 1fr);
  width: calc(100% - 32px);
  margin: 0;
  gap: 0;
  padding: 16px;
  max-width: 600px;
  min-height: 444px;
  border-radius: 10px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 768px) {
  .research__popup-container {
    grid-template-columns: minmax(199px, 300px) auto;
    width: calc(100% - 78px);
    padding: 20px;
    max-width: 1000px;
    min-height: 454px;
  }
}

@media screen and (min-width: 1440px) {
  .research__popup-container {
    grid-template-columns: 400px auto;
    max-width: 1110px;
    min-height: 718px;
  }
}
