.publications-card__image {
  height: 160px;
  width: 256px;
  transition: .15s linear;
}

@media (min-width: 768px) {
  .publications-card__image {
    height: 160px;
    width: 291px;
  }
}

@media (min-width: 1440px) {
  .publications-card__image {
    height: 223px;
    width: 310px;
  }
}
