.research__popup-wrapper {
  min-width: 250px;
  width: auto;
  margin: 0 0 10px 0;
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .research__popup-wrapper {
    min-width: 431px;
    margin: 0 0 0 20px;
    align-self: center;
  }
}

@media screen and (min-width: 1440px) {
  .research__popup-wrapper {
    min-width: 650px;
    margin: 5px 0 0 20px;
    align-self: flex-start;
  }
}
