.publications-card__info-text {
  box-sizing: content-box;
  height: 270px;
  display: flex;
  flex-direction: column;
}

@media (min-width: 1440px) {
  .publications-card__info-text {
    height: 285px;
  }
}