.card-meta__share {
  margin-right: 16px;
  background-image: url(../../../images/icons/icon_share-white.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 22px;
  height: 22px;
  transition: .1s linear;
}

.card-meta__share:hover {
  filter: opacity(.65);
  transition: .1s linear;
}
