.education__link {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
  color: var(--dark-blue);
  grid-area: 3 / 1 / 4 / 2;
  transition: .1s ease;
}

.education__link:hover {
  font-weight: 700;
  text-decoration: underline;
}

@media (min-width: 600px) {
  .education__link {
    grid-area: 2 / 1 / 3 / 2;
    font-size: 14px;
    line-height: 19px;
  }
}

@media (min-width: 1440px) {
  .education__link {
    font-size: 18px;
    line-height: 30px;
  }
}
