.partners__paragraph {
  padding-bottom: 20px;
  max-width: 920px;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.partners__paragraph:last-of-type {
  padding: 0;
}


@media (min-width: 768px) {
  .partners__paragraph {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1px;
  }
}

@media (min-width: 1440px) {
  .partners__paragraph {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
  }

  .partners__paragraph:last-of-type {
    padding-bottom: 100px;
  }

}

