.project {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 34px 56px auto;
  position: relative;
  width: auto;
  height: 130px;
  max-height: 130px;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--emerald);
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .project {
    grid-template-rows: 60px 80px auto;
    height: 200px;
    max-height: 200px;
    padding: 16px;
  }
}

@media (min-width: 1440px) {
  .project {
    grid-template-rows: 68px 80px auto;
    height: 228px;
    max-height: 228px;
    padding: 20px;
  }
}
