.footer__developers {
  margin: 40px auto 0;
  opacity: 50%;
  grid-column: 1 / span 2;
}

@media (min-width: 768px) {
  .footer__developers {
    grid-column: 1 / span 4;
    margin: 30px 0 0;
  }
}

@media (min-width: 768px) {
  .footer__developers {
    margin: 38px 0 0;
  }
}
