.team-card__name {
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  color: var(--dark-blue);
  text-align: center;
  margin: 0;
}

@media (min-width: 768px) {
  .team-card__name {
    font-size: 14px;
    line-height: 19px;
  }
}

@media (min-width: 1440px) {
  .team-card__name {
    font-size: 18px;
    line-height: 30px;
  }
}
