.project__link {
  margin-top: auto;
  align-self: end;
  font-weight: 600;
  text-decoration: underline;
  color: var(--white);
  transition: color .3s linear;
}

.project__link:hover,
.project__link:focus {
  color: var(--blue);
}
