.partners__icon {
  max-height: 20px;
  display: flex;
}


@media (min-width: 768px) {
  .partners__icon {
    max-height: 32px;
  }
}


@media (min-width: 1440px) {
  .partners__icon {
    max-height: 46px;
  }
}

