.feedback__container {
  max-width: 1113px;
  width: calc(100% - 32px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .feedback__container {
    width: calc(100% - 80px);
  }
}
