.footer {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: var(--white);
  background-color: var(--blue);
}

@media (min-width: 1440px) {
  .footer {
    font-size: 14px;
    line-height: 19px;
    letter-spacing: normal;
  }
}
