.team-card {
  background-color: #ffffff;
  width: 140px;
  height: 256px;
  border-radius: 5px;
  box-shadow: 0 2px 11px rgba(1, 54, 157, 0.15);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 14px;
}

@media (min-width: 768px) {
  .team-card {
    height: 337px;
    width: 210px;
  }
}

@media (min-width: 1440px) {
  .team-card {
    height: 439px;
    width: 255px;
  }
}
