.card-meta__breadcrumbs {
  margin-right: 16px;
  background-image: url(../../../images/icons/icon_share-white.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 22px;
  height: 22px;
}
