.header {
  color: white;

  box-sizing: border-box;
  position: fixed;
  z-index: 10;
  top: 0;
  gap: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 280px 40px 1fr;
  grid-template-rows: auto;
  pointer-events: none;
}

@media (min-width: 600px) {
  .header {
    grid-template-columns: 290px 40px 1fr;
  }
}

@media (min-width: 1000px) {
  .header {
    grid-template-columns: 1fr 190px minmax(auto, 1000px) 1fr;
  }
}
