.publications-card__name {
  margin: 12px 0 4px;
  font-size: 14px;
  line-height: 19px;
  color: var(--dark-blue);
  font-weight: 600;
  max-height: 60px;
  max-width: 90%;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

@media (min-width: 768px) {
  .publications-card__name {
    font-size: 18px;
    line-height: 30px;
  }
}
