.publications-card__name {
  margin: 0 16px 4px;
  font-size: 14px;
  line-height: 19px;
  color: #000D26;
  font-weight: 600;
  max-height: 60px;
  max-width: 90%;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media (min-width: 768px) {
  .publications-card__name {
    font-size: 18px;
    line-height: 30px;
    margin: 0 20px 4px;
  }
}
