.research__photo-sec {
  display: none;
}

@media screen and (min-width: 1200px) {
  .research__photo-sec {
    display: block;
    height: 240px;
    border-radius: 5px;
    margin-left: 30px;
    border-radius: 10px;
    object-fit: cover;
  }
}

@media screen and (min-width: 1440px) {
  .research__photo-sec {
    width: 264px;
    height: 276px;
  }
}
