.team__cards {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto -418px; /*поправить отступы после реализации слайдера*/
    background-color: transparent;
}

@media (min-width: 768px) {
    .team__cards {
        grid-template-columns: repeat(3, 1fr);
        margin: 0 auto -230px;
    }
}

@media (min-width: 1440px) {
    .team__cards {
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
        width: 1110px;
        margin: 0 auto -230px;
    }
}
