.research__popup-wrapper-text {
  margin: 0;
}

@media screen and (min-width: 768px) {
  .research__popup-wrapper-text {
    width: 431px;
    position: absolute;
    right: 20px;
    top: 73px;
  }
}

@media screen and (min-width: 1440px) {
  .research__popup-wrapper-text {
    width: 650px;
  }
}
